<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <div class="" routerLink="/" style="cursor: pointer;">
        <a class="navbar-brand fw-bold" style="margin-left: 1rem;" href="#">Madera</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 3rem;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/collections">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blog">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Blog</a>
          </li>
        </ul>
        <div class="d-flex gap-4  align-items-center">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
           <div class="" style="cursor: pointer;"><i class="bi bi-shop"></i></div>
           <div class="" style="cursor: pointer;"><i class="bi bi-search"></i></div>
           <img src="../../assets/naija.png" alt="" style="width: 25px">
         
    </div>
      </div>

      
    </div>
  </nav>