.joltImg img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.menutext{
    text-decoration: none;
    font-size: 14px;
    color: #2D2D2D;
    font-weight: 700;
    padding: 5px 0;
    
}
.jnr{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1rem;
}
.jnr img:first-child{
    width: 70%;
    height: 300px;
}
.jnr img:nth-child(2){
    width: 70%;
    height: 300px;

}
.exp{
    display: inline-block;
    font-size: 0.7rem;
    background: #393939;
    /* border: 1px solid white; */
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 2px;
    transition: 0.2s;
}


@media screen and (max-width: 600px){
    .jnr{
        display: flex;
        flex-direction: column;
    }
    .jnr img{
        width: 100%;
    }
}