<app-navbar></app-navbar>
<div class="">

    <div class="">
        <div class="banner" >
            <div class="content" >
                <h1 class="mb-3" >Simmer Winter Collection <br> At your door</h1>
                <div class="" >
                    <p style=" font-size: 14px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto labore quaerat minima eius sit, nihil rem esse cupiditate. Asperiores, veniam!</p>
                </div>
                 <div class="explore-btn">
                    <a href="#" class="exp" routerLink="/collections">Explore More</a>
                </div>
            </div>
            <div class="content-bottom" >
                <p style="text-align: center; font-size: 14px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto labore quaerat minima eius sit, nihil rem esse cupiditate. Asperiores, veniam!</p>
            </div>
        </div>
        
        
    </div>


</div>
