/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
}
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: aliceblue; */
    font-family: "PT Sans", sans-serif;
}